* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section-body {
  padding: 50px 0;
}

.ui.form .field > label {
  color: var(--theme-page-text);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}

.d-flex {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--theme-page-text);
  transition: all ease 0.2s;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 1rem;
  display: block;
}

.button {
  font: 14px;
  font-weight: 400;
  text-align: center;
  background: #ff2058;
  padding: 0.5rem 2rem;
  color: white;
  border: 1px solid #ff2058;
  margin: 0.5rem 0;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

a.ui {
  &.tag {
    cursor: default;
  }
}

.button:hover,
.button:active {
  background: white;
  color: #ff2058;
}

.button:focus {
  outline: none;
}

.button.button-outline {
  background: white;
  color: #ff2058;
}

.mb-50 {
  margin-bottom: 50px;
}

input {
  height: 36px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 1px solid #ff2058;
}

.button.button-outline:hover,
.button.button-outline:active {
  background: #ff2058;
  color: white;
  box-shadow: none;
}
